@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia-Italic.eot');
  src: local('../fonts/Georgia Italic'), local('Georgia-Italic'), url('../fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Georgia-Italic.woff2') format('woff2'), url('../fonts/Georgia-Italic.woff') format('woff'), url('../fonts/Georgia-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

a,
button,
input,
select,
textarea,
i {
  text-decoration: none;
  outline: none;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

input,
select,
textarea {
  width: 100%;
  outline: none;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

img {
  max-width: 100%;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}


/*.container {
	max-width: 1400px;
}*/
/*==================================================
 Navigation Bar
 ==================================================*/

.navbar {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #939393;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
  padding: 10px 20px;
}

.navbar-light .navbar-nav .nav-link::after {
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navbar-light .navbar-nav .active .nav-link::after,
.navbar-light .navbar-nav .nav-link::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #ca5558;
}

.navbar-light .navbar-nav .nav-link:hover::after {
  width: 30px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ca5558;
}

@media screen and (max-width: 1024px) {
  .navbar-light .navbar-nav .nav-link {
		font-size: 16px;
		padding: 10px 15px;
	}
}

@media screen and (max-width: 991px) {
  .navbar-light .navbar-nav .nav-link {
		font-size: 18px;
		padding: 10px 0;
  }
  .navbar-light .navbar-toggler {
		color: rgba(0,0,0,.5);
		border-color: transparent;
		outline: none;
		padding: 0;
	}	
	.navbar-light .navbar-toggler-icon{
		background-image: none;
		color: #fd4e4a;
		font-size: 30px; 
		width: auto;
		height: auto;
	}
}

@media screen and (max-width: 767px) {
	.navbar-collapse {
		padding: 0 15px;
  }
}

/*==================================================
 Hero Section 
 ==================================================*/

.main-hero {
  padding: 50px 0;
  background: url(../images/Folder-patterns.png) no-repeat right;
  background-size: 100% 100%;
}

.hero-section {
  margin: 120px 0;
  text-align: left;
  padding-left: 20px;
}

.hero-section-site-logo {
  font-size: 50px;
  color: #11807f;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero-section-headline {
  font-size: 60px;
  color: #444;
  font-weight: 300;
  margin: 30px 0;
}

.hero-section-subheadline {
  font-size: 20px;
  color: #444;
  display: block;
}

.hero-section-cta {
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  background: #fa504f;
  width: 300px;
  height: 75px;
  line-height: 75px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 35px;
}

.hero-section-cta:hover {
  background: #11807f;
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width:1600px) and (max-width:1900px) {
  .hero-section-headline {
		font-size: 50px;
	}
}

@media only screen and (min-width:1400px) and (max-width:1599px) {
	.hero-section-headline {
		font-size:40px;
	}
}

@media only screen and (min-width:1200px) and (max-width:1399px) {
  .hero-section-headline {
		font-size:30px;
	}
	.hero-section {
		padding-left: 20px;
	}
}

@media screen and (max-width: 1024px) {
	.hero-section-headline {
		font-size:30px;
	}
	.hero-section {
		padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .main-hero {
    background: none;
  }
  .hero-section {
    margin: 30px 0;
		text-align: center;
  }
  .hero-section-site-logo {
    font-size: 30px;
    margin-bottom: 0px;
  }		
  .hero-section-headline {
		font-size: 37px;
  }
}
/*==================================================
 Archiving Css Start here 
 ==================================================*/

.archiving {
  padding: 150px 0;
  background: url(../images/realtime-archiving-bg.png) no-repeat right;
  background-size: cover;
  color: #fff;
}

.archiving h2 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 40px;
}

.archiving p {
  font-size: 18px;
}


/*==================================================
 High lights Css Start here 
 ==================================================*/

.highlights {
  padding: 110px 0;
}

.highlights p {
  font-size: 40px;
  color: #444444;
  font-weight: 300;
  margin: 35px 0;
}

.ul_style li {
  padding-left: 20px;
  position: relative;
  font-size: 18px;
  color: #444444;
  margin-bottom: 20px;
}

.ul_style li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #11807f;
  position: absolute;
  top: 7px;
  left: 0;
}


/*==================================================
 Proven scalability Css Start here 
 ==================================================*/

.testimonial {
  background: #fa504f;
}

.petabytes {
  background: #fff;
  padding: 70px;
}

.petabytes a {
  color: #fa504f;
  font-weight: 600;
}

.petabytes span {
  font-size: 50px;
  font-weight: 300;
  color: #444444;
  line-height: 55px;
  margin-bottom: 25px;
  display: block;
}

.petabytes p {
  font-size: 18px;
  color: #444444;
}

.micro_service {
  padding: 70px 0 20px 170px;
}

.micro_service span {
  font-size: 46px;
  color: #fff;
  font-family: 'Georgia';
  font-style: italic;
  line-height: 60px;
  margin-bottom: 30px;
  display: block;
}

.micro_service p {
  font-size: 20px;
  color: #fff;
}

.micro_service i {
  font-size: 70px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 80px;
}

.trust-badge-section {
  background: #11807f;
  padding: 100px 0;
  color: #fff;
  font-size: 18px;
}

.trust-badge-section span {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 300;
  display: block;
}

.trust-badge-section p {
  margin-bottom: 30px;
}


/*==================================================
 Proven scalability Css Start here 
 ==================================================*/

.open-source-section {
  padding: 130px 0;
  text-align: center;
}

.open-source-section a {
  font-size: 18px;
  color: #fa504f;
  font-weight: 600;
}

.open-source-section span {
  font-size: 50px;
  color: #11807f;
  font-weight: 300;
  margin-bottom: 40px;
  display: block;
}

.open-source-section p {
  font-size: 18px;
  color: #444444;
}


/*==================================================
 Record Api Css Start here 
 ==================================================*/

.api-services {
  background: #fff8f8;
  padding: 130px 0;
}

.api-services span {
  font-size: 50px;
  color: #fa504f;
  margin-bottom: 80px;
  display: block;
  font-weight: 300;
}

.api-services h3 {
  font-size: 40px;
  color: #444444;
  font-weight: 300;
  margin-bottom: 30px;
}

.api-services a {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  background: #fa504f;
  display: table;
  margin: 50px auto 0px auto;
  width: 300px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border-radius: 50px;
}

.api-services a:hover {
  background: #11807f;
}


/*==================================================
 platform-architecture Css Start here 
 ==================================================*/

.platform-architecture {
  padding: 160px 0;
}

.ul_style2 li {
  font-size: 18px;
  color: #444444;
  padding-left: 5px;
  position: relative;
  margin-bottom: 15px;
  padding-top: 5px;
  /*display: table;*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.ul_style2 li i.separator-line {
  height: 37px;
  width: 6px;
  margin-right: 20px;
  font-size: 37px;
  font-weight: 700;
  line-height: 37px;
  color: #11807f;
  font-style: normal;
}


/*.ul_style2 li:before{
	content: "";
	width: 6px;
	height: 25px;
	background: #11807f;
	position: absolute;
	min-height: 37px;
	top: 0;
	left: 0;
	
}
.ul_style2 li i {
    height: 35px;
    display: table-cell;
    vertical-align: middle;

}

.ul_style2 li i span{

    width: 6px;
    background: #11807f;
    position: relative;
    display: block;
    height: 35px;
	
}*/

.ul_style2 li p {
  margin-bottom: 0px;
  margin-left: 15px;
}

footer {
  background: #f5f5f5;
  text-align: center;
  padding: 80px 0;
}

.link a {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  background: #fa504f;
  display: inline-block;
  width: 300px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border-radius: 50px;
  margin: 0 5px;
}

.link a:hover {
  background: #11807f;
}

.copyright {
  border-top: 1px solid #eaeaea;
  margin-top: 70px;
}

.copy_link ul {
  margin: 0;
}

.copy_link li {
  display: inline-block;
  margin: 20px;
}

.copy_link li a {
  font-size: 18px;
  color: #444;
}

.copy_link p {
  font-size: 18px;
  color: #c7c7c7;
  margin: 0;
}